
/* body{
    background-color: #676565;
}*/
button{
    color: rgb(255, 255, 255);
    background-color: #7e24d7;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 2px 2px 2px rgb(128,128,128,1);
    box-shadow: -1px -1px 2px 3px #ffffff;
}
button:hover{
    background-color: rgb(46, 137, 218);
    animation: spin infinite;
}
@keyframes spin{
    from{
        transform: rotateX(30px);
    }
    to{
        transform: rotateX(100px) 
    }
}